.mainView {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  align-content: center;
  height: 70vh;
}
.icon {
  color: var(--itemColor);
  transform: scale(4);
  margin-top: 50%;
  user-select: none;
}
.textAndIcon {
  display: flex;
  flex-direction: row;
  user-select: none;
  justify-content: space-between;
  width: 94%;
  height: 15%;
  align-items: flex-start;
}

.Title {
  font-size: 260%;
  color: var(--itemColor);
  margin-top: 2%;
}
.InputContainer {
}
.textAndInput {
  display: flex;
  align-items: center;
  width: 94%;
  margin-bottom: 2%;
}
.inputText {
  user-select: none;
  font-size: 142%;
  font-weight: 200;
  color: var(--itemColor);
  width: auto;
  margin-right: 3%;
  margin-left: 3%;
  white-space: nowrap;
}
.dataText {
  font-size: 102%;
  font-weight: 200;
  color: var(--itemColor);
  width: auto;
  user-select: none;
  margin-right: 3%;
  margin-left: 3%;
  white-space: nowrap;
}

.spacer {
  margin-bottom: 1%;
  width: 94%;
  border-bottom: 0.1px solid #bbe2a2 !important;
}
.inputLine {
  border-bottom: 0.5px solid var(--itemColor) !important;
}
.dataContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.dataColumn {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.dataCell {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.smallInput {
  width: 20%;
}

.myInputOverride {
  font-size: 3vh !important;
  font-weight: bold !important;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 94%;
  margin-top: 4%;
}
.nextButton {
  width: 21vh;
  height: 6vh;
  background-color: var(--buttonColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextButton:hover {
  cursor: pointer;
  background-color: var(--selectButtonColor);
}
.columHeaders {
  display: flex;
}
.scrollCardContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin-left: 1%;
}
.productCard {
  background-color: var(--buttonColor) !important;
  width: 100%;
  align-items: center;
  min-height: 72px;
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
}
.productCard:hover {
}
.circle {
  color: var(--itemColor);
  transform: scale(2);
  transition: 0.5s;
}
.circle:hover {
  filter: invert(0.2);
  transform: scale(2.2);
  transition: 0.5s;
  cursor: pointer;
}
.iconContainer {
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.searchingBox {
  width: 60vh;
  height: 70vh;
  background-color: #dbf3cd;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-y: hidden;
  scroll-behavior: auto;
  width: 100%;
  height: 60%;
}
.searchButton {
  background-color: var(--buttonColor);
  border-radius: 0px 6px 6px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 4vh;
}
.searchButton:hover {
  cursor: pointer;
  filter: invert(0.1);
}
.buttonSpace {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cancelButton {
  transform: scale(1.5);
}
.cancelButton:hover {
  filter: invert(0.1);
  cursor: pointer;
}
.lp {
  margin-bottom: 1vh;
}
.column {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 0.4%;
}
.horizontalColumnContainer {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  justify-content: center;
  margin-bottom: 1%;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1%;
}
.menuButton {
  background-color: var(--buttonColor);
  height: 4vh;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vh;
}

.menuButton:hover {
  cursor: pointer;
  background-color: var(--selectButtonColor);
}
.menuButtonDisabled {
  background-color: var(--selectButtonColor);
  height: 4vh;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vh;
}

.menuButtonDisabled:hover {
  cursor: pointer;
  filter: invert(0.3);
}
.verticalHistory {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  height: 60%;
}
.historyData {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.feedBackBox {
  width: 100%;
  height: 15vh;
  background-color: var(--buttonColor);
  display: flex;
}
.logox {
  color: var(--itemColor);
  transform: scale(1.4);
  width: 10%;
}
.feedBackText {
  width: 90%;
  height: 100%;
  color: var(--itemColor);
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.editIcon {
  user-select: none;
  transform: scale(1.4);
  color: var(--itemColor);
  white-space: nowrap;
}
.editIcon:hover {
  cursor: pointer;
  filter: invert(0.4);
}
