<div class="mainView">


    <div class="textAndIcon">
        <div class="text Title">NutriSalud</div>
        
    </div>
    <div class="buttons">
        
        <div *ngIf="today &&!this.uServ.doctor" class="card menuButton" style=" width: 8vh;">
            <div class="text inputText">Hoy</div>
        </div>

        <div *ngIf="!today &&!this.uServ.doctor" (click)="openToday()" class="card menuButtonDisabled" style=" width: 8vh;">
            <div class="text inputText">Hoy</div>
        </div>



        <div  *ngIf="history"  class="card menuButton" style=" width: 15vh;">
            <div class="text inputText">Historial</div>
        </div>

        <div  *ngIf="!history" (click)="openHistory()" class="card menuButtonDisabled" style=" width: 15vh;">
            <div class="text inputText">Historial</div>
        </div>
        

        
        <div *ngIf="plan" class="card menuButton" style=" width: 30vh;">
            <div class="text inputText">Plan De comidas</div>
        </div>

        <div *ngIf="!plan" (click)="openPlan()" class="card menuButtonDisabled" style=" width: 30vh;">
            <div class="text inputText">Plan De comidas</div>
        </div>


    </div>
    <div class="spacer"></div>
    <!--TODAY-->
    <div *ngIf="today" class="horizontalColumnContainer">

        
        <div *ngFor="let tfood of tFoods.meals" class="column">
            <div class="text inputText">{{tfood.name}}</div>
            <div class="scrollCardContainer">
            
                <div *ngFor='let product of tfood.foods' class="card productCard">
                    <div style="width: 50%; overflow: hidden;white-space: nowrap;" matTooltip="{{product.nombre}}" class="text inputText">{{product.nombre}}</div>
                    <mat-icon style="width: 10%;" class="inputText cancelButton" (click)="removeProduct(product,tfood)">cancel</mat-icon>
                </div>
            </div>

            <div class="iconContainer">
                <mat-icon (click)="openSearchBox(tfood)" class="circle">add_circle</mat-icon>
            </div>
        </div>
    </div>


    <!--History-->

    <div *ngIf="history" class="verticalHistory">

        <div class="historyData"*ngFor="let tFoods of foodHistory">
            <div class="text dataText" style="margin-left: 0%; margin-bottom: 1%;">Fecha {{tFoods.fecha}}</div>
            <div  class="horizontalColumnContainer">

                <div *ngFor="let tfood of tFoods.foods" class="column">
                    <div class="text inputText">{{tFoods.tiempo}}</div>
                    <div class="scrollCardContainer">
                    
                        <div *ngFor='let product of tfood.foods' class="card productCard" style="background-color: #a3d486cf !important;">
                            <div style="width: 50%;" class="text inputText">{{product.nombre}}</div>
                        </div>
                    </div>


                </div> 
            </div>

            <div class="card feedBackBox">
                <img class="logox" src="../../../assets/doctorsvg.svg" alt="">
                <textarea readonly *ngIf="!this.uServ.doctor" class="myInput" [value]="tFoods.feedBack" rows="30" cols="50">                             
                </textarea>
                <div *ngIf="this.uServ.doctor" class="InputContainer"style="width: 90%;">

                    <textarea class="myInput" (input)="tFoods.feedBack = $any( $event.target).value;" [value]="tFoods.feedBack" rows="3" cols="50">                             

               
                    </textarea>
                    <div class="circleButton2" style="background-color: #CBF7B0;" (click)="commentReport(tFoods)">
                        <mat-icon style="color: #3F6328;">done</mat-icon>
                    </div>
                </div>
            </div>
            <div class="spacer" style="margin-bottom: 3%; width: 100%;height: 21px;margin-top: 3%;"></div>


        </div>    
    </div>

    <!--plan-->

    <div *ngIf="plan" class="verticalHistory">

        <div *ngIf="foodPlan &&!this.uServ.doctor" class="historyData">

            <div  class="horizontalColumnContainer">

                <div *ngFor="let tfood of foodPlan.meals" class="column">
                    <div class="text inputText">{{tfood.name}}</div>
                    <div class="scrollCardContainer">
                    
                        <div *ngFor='let product of tfood.foods' class="card planCard"  mto style="background-color: #a3d486cf !important;"  matTooltip="{{product.name}}  {{product.info}}">
                            <div style="width: 90%; overflow: hidden;margin-top: 1%; font-size: 1vw;" class="text inputText">{{product.name}}</div>
                            <div class="spacer2" style="margin-bottom: 1%; width: 100%;;margin-top: 1%;"></div>
                            <div style="width: 90%; overflow: hidden;margin-top: 1%; font-size: 1vw;" class="text inputText">{{product.info}}</div>

                        </div>
                    </div>


                </div>
            </div>

    

            <div class="spacer" style="margin-bottom: 3%; width: 100%;height: 21px;margin-top: 3%;"></div>

        </div>    

        <div *ngIf="!foodPlan &&!this.uServ.doctor" style="    display: flex;justify-content: center;align-items: center;height: 100%;">
            <img src="../../../assets/noPlan.svg" alt="">
        </div>


        <div *ngIf="this.uServ.doctor" class="horizontalColumnContainer">

        
            <div *ngFor="let tfood of tFoods.meals" class="column">
                <div class="text inputText">{{tfood.name}}</div>
                <div class="scrollCardContainer">
                
                    <div *ngFor='let product of tfood.foods' class="card productCard">
                        <div style="width: 90%;" class="text inputText">{{product.nombre}}</div>
                        <mat-icon style="width: 10%;" class="inputText cancelButton" (click)="removeProduct(product,tfood)">cancel</mat-icon>
                    </div>
                </div>
    
                <div class="iconContainer">
                    <mat-icon (click)="openSearchBox(tfood)" class="circle">add_circle</mat-icon>
                </div>
            </div>
        </div>



    </div>
    <div *ngIf=" plan && this.uServ.doctor" class="buttonContainer">
        <div class="card nextButton" (click)="updateNutriPlan()">
            <div class="text inputText" >Siguiente</div>    
        </div>
    </div>
    <div *ngIf="today" class="buttonContainer">
        <div class="card nextButton" (click)="submitDailyReport()">
            <div class="text inputText" >Siguiente</div>    
        </div>
    </div>

</div>



























<!--PANEL DE BUSQUEDA-->
<div class="card searchingBox" *ngIf="searching">
    <div style="height: 20%; margin-left: 1vh;">
        <div class="text Title">Buscar Producto</div>
    </div>
    <div style="height: 10%;">
        <div class="textAndInput " style="width: 100%; ">

            <mat-icon class="inputText">search</mat-icon>
            <div style="display: flex; width: 100%;">
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%; " [value]="search"  (input)="search = $any( $event.target).value"class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <mat-icon (click)="searchProduct()" class="searchButton inputText">arrow_forward</mat-icon>
            </div>
        </div>
     </div>

    <div class="searchResults">
        <div *ngFor="let product of searchResult" class="card productCard" style="width: 80%;"  (click)="selectSearchProduct(product)" >
            <div style="width: 100%;">
                <div class="text inputText">{{product.nombre}}</div>

            </div>
            
        </div>

    </div>


    <div class="buttonSpace">
     
    </div>
</div>

