.mainView {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  align-content: center;
  height: 70vh;

  overflow-x: hidden;
}
.icon {
  color: var(--itemColor);
  font-size: 4vw;
  margin-top: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textAndIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94%;
  height: 15%;
  align-items: flex-start;
}

.Title {
  font-size: 3vw;
  color: var(--itemColor);
  margin-top: 2%;
}

.textAndInput {
  display: flex;
  align-items: center;
  width: 94%;
  margin-bottom: 2%;
}
.inputText {
  font-size: 1.5vw;
  font-weight: 200;
  color: var(--itemColor);
  width: auto;
  margin-right: 3%;
  margin-left: 3%;
  white-space: nowrap;
}
.buttonText {
  font-size: 15px;
  font-weight: 200;
  color: var(--itemColor);
  width: auto;
  margin-right: 3%;
  margin-left: 3%;
  white-space: nowrap;
}
.spacer {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 94%;
  border-bottom: 0.1px solid #bbe2a2 !important;
}
.inputLine {
  border-bottom: 0.5px solid var(--itemColor) !important;
  margin-bottom: 2%;
}
.dataContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.dataColumn {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.dataCell {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.smallInput {
  width: 20%;
}

.myInputOverride {
  font-size: 3vh !important;
  font-weight: bold !important;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 94%;
  margin-bottom: 1%;
}
.nextButton {
  width: 21vh;
  height: 6vh;
  background-color: var(--buttonColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextButton:hover {
  cursor: pointer;
  background-color: var(--selectButtonColor);
}
.columHeaders {
  width: 94%;
  display: flex;
}
.scrollCardContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 60%;
  width: 100%;
}
.productCard {
  background-color: var(--buttonColor) !important;
  width: 100%;
  align-items: center;
  min-height: 72px;
  margin-top: 1vh;
  display: flex;
}
.productCard:hover {
  background-color: var(--selectButtonColor) !important;
}
.circle {
  color: var(--itemColor);
  transition: 0.5s;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.circle:hover {
  filter: invert(0.2);
  font-size: 4.1vw;
  transition: 0.5s;
  cursor: pointer;
}
.iconContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchingBox {
  width: 60vh;
  height: 70vh;
  background-color: #dbf3cd;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.searchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow-y: hidden;
  scroll-behavior: auto;
  width: 100%;
  height: 60%;
}
.searchButton {
  background-color: var(--buttonColor);
  border-radius: 0px 6px 6px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  height: 4vh;
}
.searchButton:hover {
  cursor: pointer;
  filter: invert(0.1);
}
.buttonSpace {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cancelButton {
  transform: scale(1.5);
}
.cancelButton:hover {
  transform: scale(2);
  filter: invert(0.1);
  cursor: pointer;
}
.lp {
  margin-bottom: 1vh;
}
.fromToContainer {
  display: flex;
  width: 100%;
}

.reportView {
  top: 0;
  background: white;
  position: absolute;
  width: 21cm;
  height: 29.7cm;
}
.reportContainer {
  width: 80%;
  margin: 5% 2% 1% 2%;
}
.reportText {
  font-size: 10px;
  user-select: none;
  font-weight: 100;
  width: 50vh;
  font-weight: 100;
  white-space: nowrap;
  text-align: start;

  text-indent: 40px;
}
.reportTitleText {
  font-size: 13px;
  user-select: none;
  font-weight: 150;
  width: 50vh;
  font-weight: 100;
  white-space: nowrap;
  text-align: start;
  text-indent: 40px;
}
.reportBox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.reportLine {
  width: 100%;
  border-bottom: 0.1px solid #0c0c0c;
}

.reportLineThin {
  width: 100%;
  border-bottom: 0.01px solid #cfcfcf;
}
