<div class="mainView">


    <div class="textAndIcon">
        <div class="text Title">Gestión de Clientes</div>
        <div><mat-icon class="icon">groups</mat-icon></div>
        
    </div>

    <div class="spacer"></div>

<!--Encabezados-->
    <div class="columHeaders" style=" width: 100%;">
        <div class="text inputText" style=" width: 20%;">Nombre</div>
        <div class="text inputText" style=" width: 70%;">correo Electrónico </div>

    </div>
<!--Productos que componen la receta-->
    <div class="scrollCardContainer">
        <div *ngFor='let product of myclients' class="card productCard">
            <div style="width:20%;" class="text inputText">{{product.primerNom}} {{product.primerApellido}} {{product.segApellido}}</div>
            <div  class="text inputText mailContainer" matTooltip="{{product.correo}}">{{product.correo}}</div>

            <mat-icon class="inputText cancelButton" matTooltip="Historial de comidas" (click)="openClientMealHistory()">event</mat-icon>
            <mat-icon class="inputText cancelButton" matTooltip="Historial de mediciones" (click)="openClientMeasureHistory()">straighten</mat-icon>
            <mat-icon class="inputText cancelButton" matTooltip="Desasociar cliente" (click)="removeClient(product)">cancel</mat-icon>
            
        </div>
    </div>
        <div class="iconContainer">
            <mat-icon (click)="openSearchBox()" matTooltip="Agregar cliente" class="circle">add_circle</mat-icon>
        </div>
        
        <div class="spacer" style="  margin-bottom: 2%;"></div>


</div>


<!--PANEL DE BUSQUEDA-->
<div class="card searchingBox" *ngIf="searching">
    <div style="height: 20%; margin-left: 1vh;">
        <div class="text Title">Buscar Usuario</div>
    </div>
    <div style="height: 10%;">
        <div class="textAndInput " style="width: 100%; ">

            <mat-icon class="inputText">search</mat-icon>
            <div style="display: flex; width: 100%;">
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%; " [value]="search"  (input)="search = $any( $event.target).value"class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <mat-icon (click)="searchUser()" class="searchButton inputText">arrow_forward</mat-icon>
            </div>
        </div>
     </div>

    <div class="searchResults">
        <div *ngFor="let client of searchResult" class="card productCard" style="width: 80%;"  (click)="selectSearchClient(client)" >
            <div style="width: 100%;">
                <div class="text inputText">{{client.primerNom}} {{client.primerApellido}} {{client.segApellido}}</div>
                <div class="text inputText">{{client.correo}}</div>
            </div>
            
        </div>

    </div>


    <div class="buttonSpace">
     
    </div>
</div>