<div class="mainView">


    <div class="textAndIcon">
        <div class="text Title">Mediciones</div>
        
    </div>
    <div class="buttons">
        
        <div *ngIf="today" class="card menuButton" style=" width: 8vh;">
            <div class="text inputText">Hoy</div>
        </div>

        <div *ngIf="!today" (click)="openToday()" class="card menuButtonDisabled" style=" width: 8vh;">
            <div class="text inputText">Hoy</div>
        </div>



        <div  *ngIf="history"  class="card menuButton" style=" width: 15vh;">
            <div class="text inputText">Historial</div>
        </div>

        <div  *ngIf="!history" (click)="openHistory()" class="card menuButtonDisabled" style=" width: 15vh;">
            <div class="text inputText">Historial</div>
        </div>
        


    </div>
    <div class="spacer"></div>
    <!--TODAY-->
    <div *ngIf="today"  style="height: 80%; width: 100%; display: flex; flex-direction: column; align-items: center;">
        <div class="dataColumn" >

            <div class="dataCell">
                <div class="text inputText">Peso</div>
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%;"  [value]="peso"  (input)="peso = $any( $event.target).value" class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">Kg</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">IMC</div>
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%;" [value]="imc"  (input)="imc = $any( $event.target).value" class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">Kg/m2</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Músculo</div>
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%;" [value]="musculo"  (input)="musculo = $any( $event.target).value" class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">%</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Grasa</div>
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%;" [value]="grasa"  (input)="grasa = $any( $event.target).value" class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">%</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Cintura</div>
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%;" [value]="cintura"  (input)="cintura = $any( $event.target).value" class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">cm</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Cuello</div>
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%;" [value]="cuello"  (input)="cuello = $any( $event.target).value" class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">cm</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Caderas</div>
                <div class="InputContainer"style="width: 76%;">
                    <input style="width: 100%;" [value]="caderas"  (input)="caderas = $any( $event.target).value" class="myInput"  type="text">
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">cm</div>
            </div>

        </div>

    </div>


    <!--History-->

    <div *ngIf="history"  class="verticalHistory" >

        <div *ngFor="let measureData of measures" class="dataColumn" >

            <div class="dataCell">
                <div class="text inputText">Fecha: </div>
                <div class="text inputText">{{measureData.date}}</div>
            </div>
            <div class="dataCell">
                <div class="text inputText">Peso</div>
                <div class="InputContainer"style="width: 76%;">
                    <div class="text inputText">{{measureData.peso}}</div>
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">Kg</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">IMC</div>
                <div class="InputContainer"style="width: 76%;">
                    <div class="text inputText">{{measureData.imc}}</div>
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">Kg/m2</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Músculo</div>
                <div class="InputContainer"style="width: 76%;">
                    <div class="text inputText">{{measureData.musculo}}</div>
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">%</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Grasa</div>
                <div class="InputContainer"style="width: 76%;">
                    <div class="text inputText">{{measureData.grasa}}</div>
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">%</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Cintura</div>
                <div class="InputContainer"style="width: 76%;">
                    <div class="text inputText">{{measureData.cintura}}</div>
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">cm</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Cuello</div>
                <div class="InputContainer"style="width: 76%;">
                    <div class="text inputText">{{measureData.cuello}}</div>
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">cm</div>
            </div>

            <div class="dataCell">
                <div class="text inputText">Caderas</div>
                <div class="InputContainer"style="width: 76%;">
                    <div class="text inputText">{{measureData.caderas}}</div>
                    <div class="inputLine"></div>
                </div>
                <div class="text inputText">cm</div>
            </div>
            <div class="spacer" style=" border-bottom: 5px solid #bbe2a2;"></div>
            <div style="margin-bottom: 13%;"></div>
        </div>

    </div>


    <div  class="spacer" style="margin-bottom: 0; "></div>

    <div *ngIf="today" class="buttonContainer" style="height: 10%;">
        <div class="card nextButton" (click)="submit()" >
            <div class="text inputText" >Reportar Medición</div>    
        </div>
    </div>


</div>

























