<div class="mainViewContainer">
    <div class="card loginBox">
        <img class="logo" src="../../../assets/composedLogo.svg" alt="">
        <div style="height: 100%;">
            <div style="height: 15%;" class="text title" >Registro</div>


            <div style="height: 15%;" class="loginInputContainer"> 
                <input class="myInput loginInput" [value]="name"  (input)="name = $any( $event.target).value"  type="text" placeholder="Nombre" autocomplete="new-password">
                <div class="hline"></div>
            </div>

            <div style="height: 15%;"  class="loginInputContainer"> 
                <input class="myInput loginInput" [value]="lastName"  (input)="lastName = $any( $event.target).value" type="text" placeholder="Apellidos" autocomplete="new-password">
                <div class="hline"></div>
            </div>

            <div style="height: 15%;"  class="loginInputContainer"> 
                <input class="myInput loginInput" [value]="address"  (input)="address = $any( $event.target).value" type="text" placeholder="Correo Electrónico" autocomplete="new-password">
                <div class="hline"></div>
            </div>

    
            
            <div style="height: 15%;"  class="loginInputContainer"> 
                <input class="myInput loginInput" [value]="password"  (input)="password = $any( $event.target).value"  type="password" placeholder=" Inserte su Contraseña" autocomplete="new-password">
                <div class="hline"></div>
            </div>

            

            <div style="height: 15%;"  class="card loginButton" (click)="nextRegistrationStep()">
                <div class="text loginText">Registrarse </div>
            </div>
        </div>

    </div>
</div>
