.mainView {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  align-content: center;
  height: 70vh;

  overflow-x: hidden;
}
.icon {
  color: var(--itemColor);
  transform: scale(4);
  margin-top: 50%;
}
.textAndIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 94%;
  height: 15%;
  align-items: flex-start;
}

.Title {
  font-size: 260%;
  color: var(--itemColor);
  margin-top: 2%;
}

.textAndInput {
  display: flex;
  align-items: center;
  width: 94%;
  margin-bottom: 2%;
}
.inputText {
  font-size: 142%;
  font-weight: 200;
  color: var(--itemColor);
  width: auto;
  margin-right: 3%;
  margin-left: 3%;
  white-space: nowrap;
  text-align: start;
}
.spacer {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 94%;
  border-bottom: 0.1px solid #bbe2a2 !important;
}

.myInputOverride {
  font-size: 3vh !important;
  font-weight: bold !important;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 94%;
}
.nextButton {
  width: 21vh;
  height: 6vh;
  background-color: var(--buttonColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextButton:hover {
  cursor: pointer;
  background-color: var(--selectButtonColor);
}
.columHeaders {
  display: flex;

  background-color: var(--buttonColor) !important;
  width: 100%;
  min-height: 30px;
  margin-top: 1vh;
  align-items: center;
  margin-bottom: 1vh;
}
.scrollCardContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 60%;
  width: 100%;
  overflow-x: hidden;
}
.doctorCard {
  background-color: var(--buttonColor) !important;
  width: 100%;
  align-items: center;
  min-height: 72px;
  margin-top: 1vh;
  display: flex;
}

.separatorCard {
  background-color: #eeffe475 !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 72px;
  margin-top: 1vh;
  display: flex;
}
