<div class="mainViewContainer">
    <div class="card loginBox">
        <img class="logo" src="../../../assets/composedLogo.svg" alt="">
        <div>
            <div class="text" ></div>
            <div class="loginInputContainer"> 
                <input class="myInput loginInput"  type="text" placeholder=" Inserte su usuario" autocomplete="new-password">
                <div class="hline"></div>
            </div>
            
            <div class="loginInputContainer"> 
                <input class="myInput loginInput"  type="password" placeholder=" Inserte su Contraseña" autocomplete="new-password">
                <div class="hline"></div>
            </div>
            
            <div (click)="toRegister()">
                <div class="text registerText" >¿No tiene una cuenta? </div>
            </div>
            <div class="card loginButton">
                <div class="text loginText">Ingresar </div>
            </div>
        </div>

    </div>
</div>
